<section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading"><%=@country.name%></h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-building-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Capital</h3>
              <p class="text-muted mb-0"><%=@country.capital%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-clock-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Time Zone</h3>
              <p class="text-muted mb-0"><%=@country.timezones%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-money text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Currency</h3>
              <p class="text-muted mb-0"><%=@country.currency_name%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-globe text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Region</h3>
              <p class="text-muted mb-0"><%=@country.region%></p>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-building-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Top Level Domain</h3>
              <p class="text-muted mb-0"><%=@country.topLevelDomain%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-clock-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Alpha Codes</h3>
              <p class="text-muted mb-0"><%=@country.alpha2Code%><br><%=@country.alpha3Code%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-building-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Language Name</h3>
              <p class="text-muted mb-0"><%=@country.language_name%></p>
            </div>
          </div>      
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-globe text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Calling Codes</h3>
              <p class="text-muted mb-0"><%=@country.callingCodes%></p>
            </div>
          </div>
        </div>        
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-building-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Subregion</h3>
              <p class="text-muted mb-0"><%=@country.subregion%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-clock-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Demonym</h3>
              <p class="text-muted mb-0"><%=@country.demonym%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-money text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Area</h3>
              <p class="text-muted mb-0"><%=@country.area%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-globe text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Borders</h3>
              <p class="text-muted mb-0"><%=@country.borders%></p>
            </div>
          </div>
        </div>        
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-building-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Native Name</h3>
              <p class="text-muted mb-0"><%=@country.nativeName%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-clock-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Currency Name</h3>
              <p class="text-muted mb-0"><%=@country.currency_name%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-money text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Currency Symbol</h3>
              <p class="text-muted mb-0"><%=@country.currency_symbol%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-globe text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Native Language Name</h3>
              <p class="text-muted mb-0"><%=@country.native_lang_name%></p>
            </div>
          </div>
        </div>        
      </div>

  <br>
    <form method="post" action="/dashboards/<%=@current_user.slug%>/<%=@country.id%>">
      <div class ="col-lg-12 col-md-6 text-center">
        <input type="submit" value="Add to Favorites">
      </div>
    </form>

    </section>