<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <img class="api_flag flag-size" src=<%=@country.flag_path%>>
          <h2 class="section-heading"><%=@country.name%></h2>
          <hr class="my-4">
      </div>
    </div>
  </div>
            
  <div class="container">
    <div class="jumbotron jumbotron-country-individual">
      <div class="row">
        <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box mt-5 mx-auto">
            <i class="fa fa-4x fa-building-o text-primary mb-3 sr-icons"></i>
            <h3 class="mb-3">Capital</h3>
            <p class="atlas-text mb-0"><%=@country.capital%></p>
          </div>
        </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-clock-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Time Zone</h3>
              <p class="atlas-text mb-0"><%=@country.timezones%></p>
             </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-money text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Currency</h3>
              <p class="atlas-text mb-0"><%=@country.currency_name%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-globe text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Region</h3>
              <p class="atlas-text mb-0"><%=@country.region%></p>
            </div>
           </div>
      </div>
    </div>
  </div>

      <div class="container">
      <div class="jumbotron jumbotron-country-individual">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-internet-explorer text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Top Level Domain</h3>
              <p class="atlas-text mb-0"><%=@country.topLevelDomain%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-address-book-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Alpha Codes</h3>
              <p class="atlas-text mb-0"><%=@country.alpha2Code%><br><%=@country.alpha3Code%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-language text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Language</h3>
              <p class="atlas-text mb-0"><%=@country.language_name%></p>
            </div>
          </div>      
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-phone text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Calling Codes</h3>
              <p class="atlas-text mb-0"><%=@country.callingCodes%></p>
            </div>
          </div>
        </div>        
      </div>
      </div>

      <div class="container">
      <div class="jumbotron jumbotron-country-individual">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-map-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Subregion</h3>
              <p class="atlas-text mb-0"><%=@country.subregion%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-users text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Demonym</h3>
              <p class="atlas-text mb-0"><%=@country.demonym%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-area-chart text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Area</h3>
              <p class="atlas-text mb-0"><%=@country.area%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-globe text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Borders</h3>
              <p class="atlas-text mb-0"><%=@country.borders%></p>
            </div>
          </div>
        </div>        
      </div>
      </div>

      <div class="container">
      <div class="jumbotron jumbotron-country-individual extra-space-jumbo">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-language text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Native Name</h3>
              <p class="atlas-text mb-0"><%=@country.nativeName%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-money text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Currency</h3>
              <p class="atlas-text mb-0"><%=@country.currency_name%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-info-circle text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Currency Symbol</h3>
              <p class="atlas-text mb-0"><%=@country.currency_symbol%></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fa fa-4x fa-language text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Native Language</h3>
              <p class="atlas-text mb-0"><%=@country.native_lang_name%></p>
            </div>
          </div>
        </div>        
      </div>
      </div>

  <br>
    <form method="post" action="/dashboards/<%=@current_user.slug%>/<%=@country.id%>">
      <div class ="col-lg-12 col-md-6 text-center">
        <input type="submit" class="btn btn-primary btn-xl js-scroll-trigger" value="Add to Favorites" id="add_fav">
      </div>
    </form>
    <br>
    <div class="col-lg-12 col-md-6 text-center">
    <% flash.keys.each do |type| %>
    <div class="alert alert-<%=type%> alert-dismissible fade show" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
      <%=flash[:info]%>
    </div>
    <%end%>
      </div>
    </section>