<form method="post" action="/dashboards/<%=@user.slug%>">
<input type="hidden" name="_method" value="patch">
<br><br>

<div class="container topper">
    <div class="row justify-content-lg-center">
        <div class="col-lg-4 col-lg-offset-4">
            <div class="form-control extra-style">
                <label class="labels-margin" for="username">Username: </label>
                <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                <input type="text" class="form-control" id="username" placeholder="Username" name="username" value="<%=@user.username%>">
                </div>
                <label class="labels-margin" for="email">Email: </label>
                <div class="input-group">
                <span class="input-group-addon">@</span>
                <input type="email" class="form-control" id="email" placeholder="Email" name="email" value="<%=@user.email%>">
                </div>
                <label class="labels-margin" for="password">Password: </label>
                <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
            </div>
        </div>
    </div>
</div>
</div>

<div class="container">
    <div class="col-xs- col-xs-offset-6 text-center">
            <br>
            <button type="submit" class="btn btn-primary btn-xl">Update</button>
            <a class="btn btn-primary btn-xl" href="/dashboards/<%=@user.slug%>">Cancel</a>
            <br>
</form> 

<% flash.keys.each do |type| %>

        <div class="alert alert-<%=type%> alert-dismissible fade show alert-formatting" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
            <%=flash[:danger]%>
        </div>
        <%end%>
    </div>
</div>