    <section class="text-white edit_logo edit-bar">
      <div class="container text-center">
        <a class="btn btn-light btn-xl sr-button profile-edit" href="/dashboards/<%=@user.slug%>/edit">Edit Your Profile</a>
      </div>
    </section>

 <section class="p-0" id="portfolio">
      <div class="container">
        <div class="row" id="room" class="text-center">
        <%@user.countries.each do |country|%>
          <div class="col-lg-4 col-sm-6 user-flag text-center">
            <a class="portfolio-box" href="/countries/<%=country.slug%>">
              <img class="img-fluid" src="/img/flags/<%=country.name%>.svg" alt="Sorry, this image cannot be displayed">
              <div class="portfolio-box-caption circle">
                <div class="portfolio-box-caption-content">
                  <div class="project-name">
                  </div>
                </div>
              </div>
             </a>
             <div class="country-title">
             <h4 class="text-center"><%=country.name%></h4>
             </div>
            <form method="post" action="/dashboards/<%=@user.slug%>/remove/<%=country.name%>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" class="btn btn-primary btn-xl js-scroll-trigger" value="Remove">
          </form>
          </div>
        <%end%>
        </div>
      </div>
    </section>




    